@using Microsoft.AspNetCore.Identity
@inject UserManager<UserModel> UserManager
@{
    ViewData["Title"] = "Meal Plan";
}
@section Style {

}
<section class="root jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Meal Planning</h1>
        <p class="lead text-muted">Check Browser Console for data when clicking buttons</p>
        <div id="macros"></div>
        <div class="album py-5">
            <div class="container">
                <div class="row" id="saved-output"></div>
            </div>
        </div>
        <div id="output"></div>
        <div id="register-out"></div>
        <form>
            <p>
                <a href="#" id="get-my-btn" class="btn btn-outline-primary my-2">View My Spoon Account</a>
                <a href="#" id="add-btn" class="btn btn-outline-primary my-2">Add Mock Data</a>
                <a href="#" id="get-btn" class="btn btn-outline-primary my-2">Get Plan Data</a>
            </p>
        </form>
    </div>
</section>
<a asp-action="Index">Back to top</a>
@section Scripts {
    <script lang="en" type="text/javascript">
        var user = "@UserManager.GetUserAsync(User).Result.SpoonAccount.Username";
        var hash = "@UserManager.GetUserAsync(User).Result.SpoonAccount.Hash";
        var key = "@UserManager.GetUserAsync(User).Result.SpoonAccount.ApiKey";

        $(document).ready(function () {
            $('#get-my-btn').click(function () {
                $("#output").empty();
                $("#saved-output").empty();
                $("#macros").empty();
                 getMyData();
             });
            $('#add-btn').click(function () {
                $("#output").empty();
                $("#saved-output").empty();
                $("#macros").empty();
                sendPostData();
            });
            $('#get-btn').click(function () {
                $("#saved-output").empty();
                $("#output").empty();
                $("#macros").empty();
                getPostData();
            })
        });

        function getMyData() {
            $("#output").append("User: " + user + "<br/>");
            $("#output").append("API Key: " + key + "<br/>");
            $("#output").append("Hash: " + hash);
        }

        function sendPostData() {
            var url = 'https://api.spoonacular.com/mealplanner/' + user + '/items?apiKey=' + key + '&hash=' + hash;
            var d = new Date();
            var offset = d.getTimezoneOffset() * 60 * (-1);              // get user's offset from UTC in minutes, convert to seconds
            var object = {
                "date": (Math.floor(Date.now() / 1000) + offset),        // API uses seconds, Date.now() gives in milliseconds 
                "slot": 1,
                "position": 0,
                "type": "RECIPE",
                "value": {
                    "title": "Random title"+getRandomInt(40000),
                    "id": getRandomInt(40000),
                    "servings": 2,
                }
            };

            $.post(url, JSON.stringify(object),
                function (result) {
                    console.log("Add Result: " + JSON.stringify(result));
                    $("#output").append(JSON.stringify(result));
                });
        }

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        function deleteMeal(id) {
            console.log(id);
            $.ajax({
                url: "https://api.spoonacular.com/mealplanner/" + user + "/items/" + id + "?hash=" + hash + "&apiKey=" + key,
                method: 'delete',
                success: function (result) {
                    console.log(JSON.stringify(result));
                    var element = $('#delete-recipe-' + id).parent();
                    element.remove('.card');
                }
            });
        }

        function getPostData() {
            var date = new Date(Math.floor(Date.now())); //Epoch time in milliseconds for JS
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var YMD = year + "-" + month + "-" + day;
            var url = 'https://api.spoonacular.com/mealplanner/' + user + '/day/' + YMD + '?apiKey=' + key + '&hash=' + hash;

            $.get(url, null,
                function (result) {
                    console.log("Get Result: " + JSON.stringify(result));

                    //Display macros
                    result.nutritionSummary.nutrients.forEach(function (m) {
                        $("#macros").append("<span class='badge badge-secondary'>" + m.title + ": " + m.amount + m.unit + "</span> ");
                    });

                    //Display meals
                    result.items.forEach(function (element) {

                        res = '<div class="col-md-4"><div class="card mb-4 shadow-sm" style="width: 18rem;">' +
                            '<div class="card-body">' +
                            '<h5 class="card-title">' + element.value.title + '</h5>' +
                            '<h6 class="card-subtitle mb-2 text-muted">' + 'Servings: '+element.value.servings+ '<br/>Id: ' + element.id +'</h6>' +
                                '<p class="card-text">Recipe Id: ' + element.value.id + '</p>' +
                            '</div>' +
                            '<button class="btn btn-outline-danger" id="delete-recipe-' + element.id + '" onclick="deleteMeal('+element.id+')">Delete</button></div></div>';

                        //Insert to page HTML
                        $("#saved-output").append(res);
                    });
                });
        }

        function AddDataForUser() {
            $.post("/Plan/Add", { Id: 1},
                function (result) {
                    console.log("Add Result: " + JSON.stringify(result));
                    $("#output").append(JSON.stringify(result));
                });
        }

        function searchRecipes() {//query=burger&diet=vegetarian&excludeIngredients=coconut&intolerances=egg%2C%20gluten&number=10&offset=0&type=main%20course
            if (oldSearch == $("#search-recipes").val())
                return;

            //Block sending more API requests
            if (reqLimit == 0) {
                alert("API Search Limit reached");
                return;
            }

            oldSearch = $("#search-recipes").val();
            var url = 'https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/search';
            var paramUrl = new URL(url);
            var restrictions = $("#diet-restrictions option:selected").text();

            if (restrictions != "Diet Restrictions") {
                paramUrl.searchParams.set("diet", restrictions);
            }

            var intolerances = $("#intolerances option:selected").map(function () {
                return $(this).text();
            }).get().join(',');
            if (intolerances != "") {
                paramUrl.searchParams.set("ModelntolerancesKey", intolerances);
            }

            //testing
            paramUrl.searchParams.set("addRecipeInformation", true);
            paramUrl.searchParams.set("addRecipeNutrition", true);

            var queryString = $("#search-recipes").val();
            //var params = { 'query': queryString, 'diet': restrictions, 'intolerances': intolerances };
            //var params = { 'query': queryString };

            //var url = 'https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/search?' + jQuery.param(params);
            paramUrl.searchParams.set("query", queryString);//Add query string
            console.log("URL: " + paramUrl);
            const settings = {
                "async": true,
                "crossDomain": true,
                "url": paramUrl,
                "method": "GET",
                "headers": {
                }
            };

            //Reset the results page
            $("#search-results").empty();
            //Check headers
            //x-ratelimit-requests-remaining: 4991
            //x-ratelimit-results-remaining: 19975

            $.ajax(settings).done(function (response, status, xhr) {
                console.log(response); //log to browser console the api data
                reqLimit = xhr.getResponseHeader('x-ratelimit-requests-remaining');
                console.log("API Request limit: \t" + reqLimit + "/" + xhr.getResponseHeader('X-RateLimit-requests-Limit') +
                    "\nAPI Result limit: \t" + xhr.getResponseHeader('x-ratelimit-results-remaining') + "/" + xhr.getResponseHeader('X-RateLimit-results-Limit'));
                //Send API header to API
                $.post("/Recipe/UpdateApi", { RequestLimit: reqLimit }, function (result) { console.log(result) });
                var searchResult = document.getElementById("search-results");
                var results;
                console.log("Results: " + response.totalResults);
                if (response.totalResults === 0) {
                    searchResult.insertAdjacentHTML('beforeend', "<h4>No results</h4>");
                }
                //Loop through all recipes
                response.results.forEach(function (element) {
                    /*
                     * response.baseUri;
                     * response.totalResults
                     * element
                     * id
                     * image
                     * readyinminutes
                     * servings
                     * sourceurl
                     * title
                     */
                    console.log("Results: " + response.totalResults);
                    results = "<div class=\"col-md-4\"> <div class=\"card mb-4 shadow-sm\"> <img class=\"card-img-top\" src="
                        + response.baseUri + element.image + " alt=" + element.title
                        + "> <div class=\"card-img-overlay\"> <h5 class=\"card-title\">"
                        + element.readyInMinutes
                        + "</h5> <p class=\"card-text align-content-end\">Quick Add</p> </div> <div class=\"card-body\"> <p class=\"card-text\">"
                        + element.title
                        + "</p> <div class=\"d-flex justify-content-between align-items-center\"> <div class=\"btn-group\"> <a href=\"/recipe/details/"
                        + element.id
                        + "\" class=\"btn btn-sm btn-outline-primary\">View</a> <button type=\"button\" class=\"btn btn-sm btn-outline-success\">Quick add</button> </div> <small class=\"text-muted\">Ready in "
                        + element.readyInMinutes + " mins</small> </div> </div> </div> </div>";
                    //Insert to page HTML
                    searchResult.insertAdjacentHTML('beforeend', results);
                });
            });
        }
    </script>
}