
@{
    ViewData["Title"] = "Diet View";
}

@section style {
    <style>
        .row-floating {
            position: relative;
        }

        .my-sidebar {
            -ms-flex: 0 0 250px;
            flex: 0 0 250px;
        }

        .center {
            text-align: center;
        }
    </style>
}

<div class="center"><h1>Available Diets</h1></div>
<h3 class="text-muted center">Currently using @ViewData["diet"]</h3>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col my-sidebar">
            <div class="col">
                <div class="row-fluid clearfix">
                    <div id="list-example" class="list-group row-floating">
                        <a class="list-group-item list-group-item-action" href="#list-item-glutenfree">Gluten Free</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-ketogenic">Ketogenic</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-vegetarian">Vegetarian</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-lacto-vegetarian">Lacto-Vegetarian</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-ovo-vegetarian">Ovo-Vegetarian</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-vegan">Vegan</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-pescetarian">Pescetarian</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-paleo">Paleo</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-primal">Primal</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-whole30">Whole30</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                <form id="dietForm" asp-antiforgery="true">
                    <h4 id="list-item-glutenfree"></h4>
                    <img class="d-block w-100" src="/img/glutenfree.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>Eliminating gluten means avoiding wheat, barley, rye, and other gluten-containing grains and foods made from them (or that may have been cross contaminated).</p>
                    <h5>What it does:</h5>
                    <p>A gluten-free diet is critical for people with celiac disease, in whom the ingestion of gluten triggers an autoimmune attack of the intestinal lining, causing gastrointestinal distress and the potential malabsorption of important nutrients. But countless others have gluten sensitivity, which can cause many of the same symptoms, without the intestinal damage. Advocates claim that a gluten-free diet can ease a number of ailments, including digestive problems, eczema, chronic fatigue, headaches, infertility, ADHD, autism, depression, chronic inflammation, thyroid disease, weight gain and diabetes. Given the broad range of gluten-induced woes, believers say you might not know how good you can feel – or how bad you once felt – until you go gluten-free.</p>
                    <p />
                    @*Add button with a value that matches the available Diet Preferences*@
                    @*Gluten Free doesn't actually have a diet preference with our API limits but I'm leaving it here for reference*@
                    <button class="btn btn-outline-info diet" value="Gluten Free">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>1,639</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>40%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>41%</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>21%</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>2,180 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>1,329 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>711 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>2.1 mcg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>2.7 mcg.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />

                    <h4 id="list-item-ketogenic"></h4>
                    <img class="d-block w-100" src="/img/keto.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>The keto diet is based more on the ratio of fat, protein, and carbs in the diet rather than specific ingredients. Generally speaking, high fat, protein-rich foods are acceptable and high carbohydrate foods are not.</p>
                    <h5>What it does:</h5>
                    <p>The keto diet emphasizes weight loss through fat-burning. The goal is to quickly lose weight and ultimately feel fuller with fewer cravings, while boosting your mood, mental focus and energy. According to keto proponents, by slashing the carbs you consume and instead filling up on fats, you safely enter a state of ketosis. That’s when the body breaks down both dietary and stored body fat into substances called ketones. Your fat-burning system now relies mainly on fat – instead of sugar – for energy. While similar in some ways to familiar low-carb diets, the keto diet’s extreme carb restrictions – about 20 net carbs a day or less, depending on the version – and the deliberate shift into ketosis are what set this increasingly popular diet apart.</p>
                    <p />
                    @**The value must be equal to the values inside the user profile in order to work properly*@
                    <button class="btn btn-outline-info diet" value="Ketogenic">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>1,827</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>73%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>7%</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>17%</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>1,258 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>1,747 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>347 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>1.52 mcg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>9.07 mcg.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />

                    <h4 id="list-item-vegetarian"></h4>
                    <img class="d-block w-100" src="/img/vegetarian.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>No ingredients may contain meat or meat by-products, such as bones or gelatin.</p>
                    <h5>What it does:</h5>
                    <p>Many studies agree that a vegetarian diet can offer a range of health benefits. Studies show that a vegan or vegetarian diet may reduce the risk of cardiovascular disease and various types of cancer. A non-meat diet may also reduce the risk of metabolic syndrome, which includes obesity and type 2 diabetes.</p>
                    <p />
                    <button class="btn btn-outline-info diet" value="Vegetarian">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>2,005</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>31%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>57%</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>1,595 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>3,610 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>1,345 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>4.9 mcg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>5.75 mcg.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />

                    <h4 id="list-item-lacto-vegetarian"></h4>
                    <img class="d-block w-100" src="/img/lacto-veg.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>All ingredients must be vegetarian and none of the ingredients can be or contain egg.</p>
                    <h5>What it does:</h5>
                    <p>This diet is used for similar reasons to a standard vegetarian diet, but by removing eggs the diet eliminates a large source of cholesterol and fat from the egg yolk.</p>
                    <p />
                    <button class="btn btn-outline-info diet" value="Lacto-Vegetarian">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>2,005</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>31%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>57%</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>1,595 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>3,610 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>1,345 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>4.9 mcg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>5.75 mcg.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />

                    <h4 id="list-item-ovo-vegetarian"></h4>
                    <img class="d-block w-100" src="/img/ovo-veg.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>All ingredients must be vegetarian and none of the ingredients can be or contain dairy.</p>
                    <h5>What it does:</h5>
                    <p>This diet is used for similar reasons to a standard vegetarian diet, but by eliminating dairy products people may avoid complications with lactose intolerance.</p>
                    <p />
                    <button class="btn btn-outline-info diet" value="Ovo-Vegetarian">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>2,005</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>31%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>57%</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>1,595 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>3,610 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>1,345 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>4.9 mcg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>5.75 mcg.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />

                    <h4 id="list-item-vegan"></h4>
                    <img class="d-block w-100" src="/img/vegan.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>No ingredients may contain meat or meat by-products, such as bones or gelatin, nor may they contain eggs, dairy, or honey.</p>
                    <h5>What it does:</h5>
                    <p>
                        Vegan diets tend to be rich in nutrients and low in saturated fats. Research suggests that the diet can improve heart health, protect against cancer, and lower the risk of type 2 diabetes.
                        <br />
                        Studies found that people who eat vegan and vegetarian diets have a lower risk of heart disease, but a higher risk of stroke, possibly partly due to a lack of B12. The researchers found that those who didn't eat meat had 10 fewer cases of heart disease and three more strokes per 1,000 people compared with the meat-eaters.
                    </p>
                    <p />
                    <button class="btn btn-outline-info diet" value="Vegan">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>2,000</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>33%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>57%</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>13%</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>1,224 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>3,645 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>1,338 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>8.1 mcg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>7.9 mcg.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />

                    <h4 id="list-item-pescetarian"></h4>
                    <img class="d-block w-100" src="/img/pesc.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>Everything is allowed except meat and meat by-products - some pescetarians eat eggs and dairy, some do not.</p>
                    <h5>What it does:</h5>
                    <p>Fish, like meat, is a good source of protein. Yet, unlike red meat, it's low in saturated fat and often rich in healthy omega-3 fatty acids. Studies show that eating less red meat, or none at all, lowers your chances of getting heart disease and high blood pressure.</p>
                    <p />
                    <button class="btn btn-outline-info diet" value="Pescetarian">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>?</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>?</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>?</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>?</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>?</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>?</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>?</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>?</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>?</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />

                    <h4 id="list-item-paleo"></h4>
                    <img class="d-block w-100" src="/img/paleo.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>Allowed ingredients include meat (especially grass fed), fish, eggs, vegetables, some oils (e.g. coconut and olive oil), and in smaller quantities, fruit, nuts, and sweet potatoes. We also allow honey and maple syrup (popular in Paleo desserts, but strict Paleo followers may disagree). Ingredients not allowed include legumes (e.g. beans and lentils), grains, dairy, refined sugar, and processed foods.</p>
                    <h5>What it does:</h5>
                    <p>Paleo diets are based on a simple premise – if the cavemen didn’t eat it, you shouldn’t either. So long to refined sugar, dairy, legumes and grains (this is pre-agricultural revolution), and hello to meat, fish, poultry, fruits and veggies. The idea is that by eliminating modern-era foods like highly processed carbs and dairy, you can avoid or control “diseases of civilization” like Type 2 diabetes and heart disease, and likely lose weight too.</p>
                    <p />
                    <button class="btn btn-outline-info diet" value="Paleo">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>2,200</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>39%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>23%</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>38%</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>726 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>9,062 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>691 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>17.6 mcg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>0 mcg.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />

                    <h4 id="list-item-primal"></h4>
                    <img class="d-block w-100" src="/img/primal.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>Very similar to Paleo, except dairy is allowed - think raw and full fat milk, butter, ghee, etc.</p>
                    <h5>What it does:</h5>
                    <p>
                        Like the paleo diet, the Primal Diet is based on the idea that Western dietary and lifestyle habits diverge too greatly from those of traditional hunter-gatherers. Proponents of this diet claim that it improves weight, inflammation, brain fog, sleep, and heart and skin health.
                        <br />
                        The Primal diet may be a healthier alternative to diets rich in processed foods and lacking in fresh fruits and vegetables. The foods allowed on the Primal diet can offer a variety of nutrients that the body needs as long as the person properly balances their food intake.
                    </p>
                    <p />
                    <button class="btn btn-outline-info diet" value="Primal">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>2,200</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>39%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>23%</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>38%</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>726 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>9,062 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>691 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>17.6 mcg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>0 mcg.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />

                    <h4 id="list-item-whole30"></h4>
                    <img class="d-block w-100" src="/img/whole30.png" />
                    <br />
                    <h5>What it is:</h5>
                    <p>Allowed ingredients include meat, fish/seafood, eggs, vegetables, fresh fruit, coconut oil, olive oil, small amounts of dried fruit and nuts/seeds. Ingredients not allowed include added sweeteners (natural and artificial, except small amounts of fruit juice), dairy (except clarified butter or ghee), alcohol, grains, legumes (except green beans, sugar snap peas, and snow peas), and food additives, such as carrageenan, MSG, and sulfites.</p>
                    <h5>What it does:</h5>
                    <p>The Whole30 is not a diet, a weight-loss plan or quick fix – it’s designed to “change your life,” the founders say, by eliminating cravings, rebalancing hormones, curing digestive issues, improving medical conditions and boosting energy and immune function. The theory behind it is that all sorts of physical and mental health issues – ranging from acne to depression to allergies – could be due to your diet. But you can’t know which foods are to blame for what ails you unless you cut out all traces of sugar, alcohol, grains, dairy and legumes for 30 days. By day 31, you’ll be free from your food fog and may not even miss your nightly wine ritual or morning muffin fix. If and when you reintroduce food groups, your body’s reaction will tell you which foods you should continue to avoid – or at least limit.</p>
                    <p />
                    <button class="btn btn-outline-info diet" value="Whole30">Select Diet</button>
                    <br />
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Calories</th>
                                <td>2,490</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Fat<p />% of Caloric Intake</th>
                                <td>41%</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Carbohydrates<p />% of Caloric Intake</th>
                                <td>32%</td>
                            </tr>
                            <tr>
                                <th scope="row">Protein<p />% of Caloric Intake</th>
                                <td>29%</td>
                            </tr>
                            <tr>
                                <th scope="row">Sodium</th>
                                <td>4,758 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Potassium</th>
                                <td>3,963 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Calcium</th>
                                <td>906 mg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin B-12</th>
                                <td>16.23 mcg.</td>
                            </tr>
                            <tr>
                                <th scope="row">Vitamin D</th>
                                <td>43 mcg.</td>
                            </tr>
                        </tbody>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dietForm").submit(function (e) {
                e.preventDefault(e);
            });

            var offsetTop = $('.row-floating').offset().top;
            var actualWidth = $('.row-floating').width();
            $(window).scroll(function () {
                if (window.scrollY >= offsetTop) {
                    $('.row-floating').css('position', 'fixed').css('top', 0).css('width', actualWidth);
                } else {
                    $('.row-floating').css('position', 'relative').css('top', 'auto').css('width', 'auto');
                }
            });

            $(".diet").on('click', function () {
                var value = $(this).val();
                if (value == 'Gluten Free')
                    dietIntolerance(value)
                else
                    dietPreference(value);
            });

            function dietPreference(diet) {
                $.post("/Diet/Update", {
                    'dietPreferences': diet,
                    '__RequestVerificationToken': $("input[name=__RequestVerificationToken]").val()
                }, function (result) {
                    location.reload();
                });
            }

            function dietIntolerance(diet) {
                $.post("/Diet/Intolerance", {
                    'glutenIntolerance': diet,
                    '__RequestVerificationToken': $("input[name=__RequestVerificationToken]").val()
                }, function (result) {
                    location.reload();
                });
            }
        });
    </script>
}