@{
    ViewData["Title"] = "Create";
}
<section class="root jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Recipe Search</h1>
        <p class="lead text-muted">Find recipes to add to your meal planner.</p>
        <form>
            <div class="input-group">
                <select class="custom-select d-block" id="diet-option" required>
                    <option value="(None)">Diet Restrictions</option>
                    <option>(None)</option>
                    <option>Atkins friendly</option>
                    <option>Keto friendly</option>
                    <option>Vegan friendly</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid diet restriction
                </div>
                <select class="custom-select d-block" id="state" required>
                    <option value="">Any other options?</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <input type="text" class="form-control w-50" placeholder="Search for...">
            </div>
            <p>
                <a href="#" class="btn btn-primary my-2">Go to planner</a>
                <a href="#" class="btn btn-secondary my-2">Search</a>
            </p>
            <div class="custom-control custom-checkbox text-left">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Ignore Personal Preferences</label>
            </div>
        </form>
    </div>
</section>

<div class="album py-5">
    <div class="container">
        <div class="row">
            @for (int i = 0; i < 9; i++) // https://getbootstrap.com/docs/4.3/components/card/
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://puu.sh/Hhr5S.png" alt="Card image cap">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Test overlay</h5>
                            <p class="card-text align-content-end">Quick Add</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-success">Quick add</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<a asp-action="Index">Back to search</a>
