@using Microsoft.AspNetCore.Identity
@using Meal_Planner.Models
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Diet" asp-action="DietSelect">Select Diet</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="Index">Search Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="MealPlan" asp-action="Index">Meal Planner</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">Not Logged Test</a>
    </li>
}
