@{
    ViewData["Title"] = "About Us";    // Change the displayed page name here
}
<h1>@ViewData["Title"]</h1>

<p>Health and Meal Planning</p>
<div class="jumbotron">
    <h2>
        Diets and Nutrition
    </h2>
    <p>
        The groundwork of all happiness is health.
    </p>
    <p>
        <a class="btn btn-primary btn-large" asp-area="" asp-controller="Home" asp-action="Dashboard">Start planning meals now</a>
    </p>
</div>
<div id="card-1">
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-1">Why plan a diet?</a>
        </div>
        <div id="card-element-1" class="collapse">
            <div class="card-body">
                <p>
                    A healthy meals give your body the nutrients it needs while staying
                    within your daily calorie goal to maintain a healthy weight. 
                    This will also will lower your risk for heart disease and other health conditions.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-2">Know your nutrients</a>
        </div>
        <div id="card-element-2" class="collapse">
            <div class="card-body">
                <p>
                    A nutrient is anything that provides nourishment essential for growth and the maintenance of life. 
                    This encompasses micronutrients and macronutrients including fatty acids and amino acids.
                    Many nutrients are good for us, but there are a few that we need to be particularly mindful to incorporate into our diets.
                </p>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-1">Water</a>
                    </div>
                    <div id="card-element-1" class="collapse">
                        <div class="card-body">
                            <p>Keeping hydrated is really important. Water is absolutely essential for survival, especially as it makes up to 60 per cent of the human adult body. A few days without water can lead to serious illness and even death.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-1">Carbohydrates</a>
                    </div>
                    <div id="card-element-1" class="collapse">
                        <div class="card-body">
                            <p>
                                Carbohydrates, or carbs, often get a bad rap as fattening, with many no-carb diets emerging in recent years. 
                                Like any nutrient, consuming carbs is all about balance.
                                For a majority of people, carbs are essential for proper body function. 
                                Carbs are the macronutrient most readily broken down into glucose, which is your brain and body's main fuel.
                                Carbs also ensure your body is not breaking down proteins to gain energy, preventing loss of muscle mass.
                                Complex carbohydrates take longer to break down and keep you fuller for longer, meaning you cut down on unhealthy snacking.
                                Whole grains, vegetables, and fruits are all examples of healthy complex carbohydrates.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-1">Protein-Amino acids</a>
                    </div>
                    <div id="card-element-1" class="collapse">
                        <div class="card-body">
                            <p>
                                Proteins are comprised of small building blocks called amino acids. They are the building blocks of cells, which turn over quicker and regenerate more slowly as a person ages. Ensuring these vital building blocks are there helps enhance optimal ageing at the time of your life when it becomes more important to support your nutritional intake and make up for any deficiencies.
                                To ensure you're getting all essential amino acids, include a variety of proteins in your diet, such as meat, eggs, dairy, nuts, and beans. Where you do eat meat, try to eat only lean meat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-1">Fats</a>
                    </div>
                    <div id="card-element-1" class="collapse">
                        <div class="card-body">
                            <p>
                                Fat is an essential nutrient that boosts absorption of vitamins and helps protect organs.

                                Some types of fats are undoubtedly bad. Trans fats, found in processed and baked foods, increase the risk of heart disease and should be eaten very rarely, if ever.

                                Unsaturated fats, found in natural sources, actually protect the heart and aid the prevention of heart disease. These good fats can be found in nuts, avocados and salmon.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-1">Vitamins</a>
                    </div>
                    <div id="card-element-1" class="collapse">
                        <div class="card-body">
                            <p>
                                Vitamin A is vital for skin and eye health, Vitamin C for bone and muscle structure and immune support, and Vitamin D for bone growth and cardiovascular and nervous health.

                                Vitamin D is particularly critical for bone and immune health, so it's a must have.

                                No food provides every essential vitamin. A diverse and healthy diet is needed. If your diet is restrictive, there's nothing wrong with taking a supplement which contains multivitamin to fill in the gaps. That said, try and get your vitamins naturally where possible.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-1">Minerals</a>
                    </div>
                    <div id="card-element-1" class="collapse">
                        <div class="card-body">
                            <p>
                                Calcium is essential for bone health, muscle and nerve function, and circulation. 99 per cent of the body's calcium is found in the bones and teeth. Calcium is found in dairy, leafy greens and fish such as sardines and salmon.

                                Sodium is another essential nutrient that's gained a bad reputation. Sodium keeps nerves and muscles working correctly.

                                Sodium should be consumed carefully. It is all about moderation. Sodium can be found naturally in nuts, vegetables, meats and legumes, but intake should be limited to around one teaspoon of salt. Processed, frozen, and canned foods with high sodium should be avoided.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-1">Omega-3 fatty acids</a>
                    </div>
                    <div id="card-element-1" class="collapse">
                        <div class="card-body">
                            <p>It's been found that omega-3 fatty acids optimise brain health and may aid heart function. Unlike other fatty acids, your body can't create omega-3, so it's crucial to have sources of it in your diet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-3">Dashboard</a>
        </div>
        <div id="card-element-3" class="collapse">
            <div class="card-body">
                <p>
                    Recipes added to the meal planner will show up here!
                    The Dashboard page allows you to see today's meals categorized by Breakfast, Lunch, and Dinner.
                    It'll also show you the total calories for the day and macro distribution.
                    It is possible to plan meals a week in advanced.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-4">Select Diet</a>
        </div>
        <div id="card-element-4" class="collapse">
            <div class="card-body">
                <p>
                    Diet selection page lets you filter the website's search results based on the diets available in our database.
                    Here, you can get information on various diets available and learn about each one of them to select the most suitable diet for you.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-1" href="#card-element-5">Recipe Search</a>
        </div>
        <div id="card-element-5" class="collapse">
            <div class="card-body">
                <p>
                    Search recipe page allows you to look for your favouraite dishes and add them to your meal plan. 
                    Here, you can use advance search tools to filter out meals based on calories, alergies and many more options.
                </p>
            </div>
        </div>
    </div>
</div> 