@*API found here: https://english.api.rakuten.net/spoonacular/api/recipe-food-nutrition *@
@{
    ViewData["Title"] = "Testing Spoonacular API";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <main role="main" class="pb-3">
        <div>
            <input type="button" id="btnLoad" class="btn btn-info"
                   value="Load Random Recipes"
                   onclick="GetRandomRecipes()" />
            <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="TestApi">Clear </a>
            <div id="btnOutput">
                <ol id="recipes"></ol>
            </div>
        </div>
    </main>
</div>
@section Scripts {
    <script lang="en" type="text/javascript">
        function SaveAPI(obj) {
            $.ajax({
                type: "POST",
                async: true,
                cache: false,
                url: '/api/meals',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ title: obj.title, instructions: obj.instructions }),
                success: function (result) {
                    console.log('Saved: ' + result);//debug
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    alert('Error! ' + xhr.responseText);
                }
            });
        }

        function GetRandomRecipes() {
            const settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/recipes/random?number=5", //n recipes
                "method": "GET",
                "headers": {
                    "x-rapidapi-key": "4bf3ec1e54msh58354a1c923bbfap1eb315jsn2b0938461fb2",
                    "x-rapidapi-host": "spoonacular-recipe-food-nutrition-v1.p.rapidapi.com"
                }
            };

            $.ajax(settings).done(function (response) {
                console.log(response); //log to browser console the api data

                var recipeList = document.getElementById("recipes");
                var results;
                //Loop through all recipes
                response.recipes.forEach(function (element) {
                    results = "<h2><li><a href=" + element.spoonacularSourceUrl + ">" + element.title + "</h2></a></br><img src=" + element.image + " height=220 width=350></br>";
                    //Loop through each recipe ingredients
                    results += "<h3>Ingredients:</h3>";
                    element.extendedIngredients.forEach(function (ingredient) {
                        results += "<img src=https://spoonacular.com/cdn/ingredients_100x100/" + ingredient.image + " alt=\"" + ingredient.name + "\"/>";
                    });
                    results += "<pre>" + element.instructions + "</pre ></li >";

                    //Insert to page HTML
                    recipeList.insertAdjacentHTML('beforeend', results);
                });
                SaveAPI(element); //post data to local API
            });
        }
    </script>
}